
/* Dropdown styles */
.dropdown-menu {
    background-color: #ffffff !important; /* white background color */
    border: 1px solid #000000 !important; /* black border color */
  }
  
  .dropdown-item {
    color: #000000 !important; /* black text color */
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa !important; /* light hover background color */
    color: #000000 !important; /* black text color on hover */
  }
  
  /* Dropdown button styles */
  .dropdown-toggle {
    background-color: #ffffff !important; /* white background color */
    border: 1px solid #000000 !important; /* black border color */
    color: #000000 !important; /* black text color */
  }
  
  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    background-color: #f8f9fa !important; /* light background color on hover/focus */
    border-color: #000000 !important; /* black border color on hover/focus */
    color: #000000 !important; /* black text color on hover/focus */
  }
  
  /* Pagination styles */
  .pagination .page-item .page-link {
    color: #343a40 !important; /* dark text color */
    background-color: #ffffff !important; /* white background color */
    border: 1px solid #dee2e6 !important; /* light border color */
  }
  
  .pagination .page-item.active .page-link {
    background-color: #ec6a31 !important; /* blue background for active page */
    border-color: #e56e0c !important; /* blue border for active page */
    color: white !important; /* white text color for active page */
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #e9ecef !important; /* light hover background color */
    color: #343a40 !important; /* dark text color on hover */
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d !important; /* disabled text color */
    background-color: #ffffff !important; /* white background color for disabled page */
    border-color: #dee2e6 !important; /* light border color for disabled page */
  }
  